{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% include 'jaba/nav_bar.html'%}
{% include 'jaba/search_bar.html'%}

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}

<div class="container-fluid">
    <div class="row bg-light">
        <h6>Results for <b>{{ request.GET.q }}</b></h6>
    </div>
    <div class="row">
        {% for result in results %}
        {% if result.is_approved == True %}
        <div class="col-lg-2 col-md-4 col-6 mt-4">
            <div class="card border-1 mt-2" style="max-width: 15rem;">
               <a href="{{ result.get_absolute_url }}"> <img src="/media/{{result.image}}" class="card-img-top img-fluid" alt="{{product.title}}"> </a> 
                <div class="card-body">
                    <a>
                        <h5 class="card-title">{{ result.title | title }}</h5>
                    </a>
                    <p> Ksh <strong>{{result.price}}</strong><i>&nbsp; per kg</i></p>
                    <span class="card-subtitle">{{ result.owner | title}}</span>
                    <p> <small class="text-muted"> {{ result.created | naturaltime}} </small> </p>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %} 
    </div>
</div>

{% else %}
No search results for this query

{% endif %}
{% endif %}

{% if request.GET.q == '' %}
<div class="container-fluid">
    <div class="row">

        {% for result in results %}
        <div class="col-lg-2 col-md-4 col-6 mt-4">

            <div class="card border-1 mt-2" style="max-width: 15rem;">
                <a href="{{ result.get_absolute_url }}"> <img src="/media/{{result.image}}"
                        class="card-img-top img-fluid" alt="{{result.title}}"></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{result.get_absolute_url}}">{{ result.title | title }} </a></h5>
                    <p> Ksh <strong>{{result.price}}</strong><i>&nbsp; per kg</i></p>
                    <span class="card-subtitle">{{ result.owner | title}}</span>
                    <p></p> <small class="text-muted"> {{ result.created | naturaltime}}</small></p>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>
  
{% endif %}
{% endblock %}