<div class="container-fluid">
    <div class="row align-items-center" style="height:100px; background-color: rgba(12, 238, 42, 0.808);">
        <div class="col-lg-6 mx-auto">
            <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                <div class="input-group">
                    <input id="abc" type="text" class="form-control" name="q" value="{{request.GET.q}}"
                        placeholder="Search for Jaba near you..." onkeyup="s()"/>
                    <span class="input-group-btn">
                        <input id="abc2" class="btn btn-primary" type="submit" name="submit" value="Search" disabled/>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>